<div class="sidenav">
    <a (click)="onUpdateMenu()">Update Menu</a>
</div>

<div class="main">

    <div *ngIf ="spinnerFlag" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="deleteItemMessageFlag">
        <div class="alert alert-success" role="alert">
            FoodItem : name : {{foodModelWithId.name}}, type : {{foodModelWithId.type}} and
            price : {{foodModelWithId.price}} is deleted.
        </div>
    </div>

    <div *ngIf="successMessageFlag">
        <div class="alert alert-success" role="alert">
            FoodItem : name : {{foodModelWithId.name}}, type : {{foodModelWithId.type}} and
            price : {{foodModelWithId.price}} is added to the list.
        </div>
    </div>

    <div *ngIf="duplicateItemFlag">
        <div class="alert alert-danger" role="alert">
            FoodItem {{foodModel.name}} already exist.
        </div>
    </div>

    <!-- Updated Messages - Success -->
    <div *ngIf="updateSuccessMessageFlag">
        <div class="alert alert-success" role="alert">
            FoodItem value updated.
        </div>
    </div>

    <!-- Updated Messages - Failure -->
    <div *ngIf="updateErrorMessageFlag">
        <div class="alert alert-success" role="alert">
            Update failed as food item does not exist.
        </div>
    </div>

    <div *ngIf="showMenuListFlag">

        <input type="button" (click)="OnAddNewItem()" value="Add New Item" class="btn btn-secondary"
            style="float: left;margin-left: 1%;margin-top: 3%;margin-bottom: 3%;">
        <br />
        <br />
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id </th>
                        <th scope="col">Type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{item.id}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td> <input type="button" (click)="OnDeleteItem(item)" class="btn btn-secondary" value="Delete"
                                style="margin:5px;">
                            <input type="button" (click)="OnUpdateItem(item)" class="btn btn-secondary" value="Update"
                                style="margin:5px;">
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>



    <div style="width: 50%;" *ngIf="showAddNewItemFormFlag">

        <div class="container-fluid">
            <h3 style="margin-top: 3%;margin-bottom: 3%;">{{TitleAddOrUpdate}}</h3>
            <form #userForm="ngForm">

                <div class="form-group">
                    <label>Item Name</label>
                    <input type="text" class="form-control" name="itemName" [(ngModel)]="foodModel.name">
                </div>

                <div class="form-group">
                    <label>Item Type</label>
                    <select class="custom-select" name="itemType" [(ngModel)]="foodModel.type">

                        <option selected>choose Food Item type</option>
                        <option *ngFor="let type of types">{{type}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Item Price</label>
                    <input type="price" class="form-control" name="itemPrice" [(ngModel)]="foodModel.price">
                </div>
                <button (click)="onSubmit()" *ngIf="submitButtonFlag" class="btn btn-secondary"
                    type="submit">Submit</button>
                <button (click)="onUpdate()" *ngIf="updateButtonFlag" class="btn btn-secondary"
                    type="submit">Update</button>

            </form>

        </div>


    </div>
</div>